<button class="uk-button uk-button-primary uk-margin-small" type="button" uk-toggle="target: #form-order-add; animation: uk-animation-slide-top, uk-animation-fade">
  <span uk-icon="icon: plus;ratio:1.25;"></span>
</button>
<div id="form-order-add" class="uk-card uk-card-default uk-card-body uk-margin-small uk-margin-remove-top" hidden>
  <h2 class="uk-card-title">{{ 'text.new.order' | translate }}</h2>
  <form (ngSubmit)="onSubmit();orderForm.reset();" #orderForm="ngForm">
    <div class="uk-grid-small uk-child-width-1-3@m" uk-grid>


        <div class="uk-padding-small">
            <label for="customer" class="uk-form-label">{{ 'form.label.customer' | translate }}</label>
            <input type="text" name="customer" class="uk-input" placeholder="{{ 'form.placeholder.customer' | translate }}" [required]="true"
              [(ngModel)]="order.customer" #customer="ngModel">
          </div>
    
      <div class="uk-padding-small">
        <label for="name" class="uk-form-label">{{ 'form.label.shipping_mode' | translate }}</label>
        <input type="text" name="shippingMode" class="uk-input" placeholder="{{ 'form.placeholder.shipping_mode' | translate }}" [required]="true"
          [(ngModel)]="order.shipping_mode" #name="ngModel">
      </div>

      <div class="uk-padding-small">
        <label for="notes" class="uk-form-label">{{ 'form.label.notes' | translate }}</label>
        <input type="text" name="notes" class="uk-input" placeholder="{{ 'form.placeholder.notes' | translate }}" [required]="true" [(ngModel)]="order.notes"
          #notes="ngModel">
      </div>

      <div class="uk-padding-small">
        <label for="advance_paid" class="uk-form-label">{{ 'form.label.advance_paid' | translate }}</label>
        <input type="number" name="advance_paid" class="uk-input" placeholder="{{ 'form.placeholder.advance_paid' | translate }}" [required]="true" [(ngModel)]="order.advance_paid"
          #advance_paid="ngModel">
      </div>

      <div class="uk-padding-small">
        <label for="status" class="uk-form-label">{{ 'form.label.status' | translate }}</label>
        <input type="text" name="status" class="uk-input" placeholder="{{ 'form.placeholder.status' | translate }}" [required]="true" [(ngModel)]="order.status"
          #status="ngModel">
      </div>

      <div class="uk-padding-small">
          <label for="shipment_cost" class="uk-form-label">{{ 'form.label.shipment_cost' | translate }}</label>
          <input type="number" name="shipment_cost" class="uk-input" placeholder="{{ 'form.placeholder.shipment_cost' | translate }}" [required]="true" [(ngModel)]="order.shipment_cost"
            #shipment_cost="ngModel">
        </div>

        <div class="uk-padding-small">
            <label for="order_type" class="uk-form-label">{{ 'form.label.order_type' | translate }}</label>
            <input type="text" name="order_type" class="uk-input" placeholder="{{ 'form.placeholder.order_type' | translate }}" [required]="true" [(ngModel)]="order.order_type"
              #order_type="ngModel">
          </div>

          <div class="uk-width-1-1 uk-padding-small">
              <button type="submit" class="uk-button uk-button-primary" [disabled]="!orderForm.form.valid">{{ 'form.button.save' | translate }}</button>
              <button type="button" class="uk-button uk-button-default" uk-toggle="target: #form-order-add; animation: uk-animation-fade"
                (click)="initOrder()">
                {{ 'form.button.cancel' | translate }}
              </button>
            </div>

    </div>
  </form>

  <h2 class="uk-card-title">{{ 'text.new.orderLineItem' | translate }}</h2>
  <form (ngSubmit)="onSubmit();orderDetailForm.reset();" #orderDetailForm="ngForm">
    <div class="uk-grid-small uk-child-width-1-3@m" uk-grid *ngFor="let lineItem of orderDetail;let i = index">
      <div class="uk-padding-small">
        <label for="product" class="uk-form-label">{{ 'form.label.product' | translate }}</label>
        <input ngui-auto-complete class="uk-input" [(ngModel)]="order.order_detail.product" [source]="products" list-formatter="name"
          display-property-name="name" placeholder="{{ 'form.placeholder.product' | translate }}" name="product-{{i}}" #product="ngModel"
        />
      </div>
      <div class="uk-padding-small">
        <label for="customer" class="uk-form-label">{{ 'form.label.customer' | translate }}</label>
        <input ngui-auto-complete class="uk-input" [(ngModel)]="order.customer" [source]="customers" list-formatter="full_name" display-property-name="full_name"
          placeholder="{{ 'form.placeholder.customer' | translate }}" name="customer-{{i}}" #customer="ngModel" />
      </div>
      <div class="uk-padding-small">
        <label for="amount" class="uk-form-label">{{ 'form.label.amount' | translate }}</label>
        <input type="number" name="amount-{{i}}" class="uk-input" placeholder="{{ 'form.placeholder.amount' | translate }}" [required]="true"
          [(ngModel)]="order.order_detail.amount" #amount="ngModel" (keyup)="available_stock($event, i);" (change)="available_stock($event, i);">
      </div>
    </div>
    <div class="uk-grid-small uk-child-width-expand" uk-grid>
      <div class="uk-padding-small">
        <button type="submit" class="uk-button uk-button-primary" [disabled]="!orderForm.form.valid">{{ 'form.button.save' | translate }}</button>
        <button type="button" class="uk-button uk-button-default" uk-toggle="target: #form-order-add; animation: uk-animation-fade"
          (click)="init()">
          {{ 'form.button.cancel' | translate }}
        </button>
        <button type="button" class="uk-button uk-button-muted uk-align-right" (click)="onAdd()">
          <span uk-icon="icon: plus;ratio:1.25;"></span>
        </button>
      </div>
    </div>
  </form>
</div>